.modal-header
  button.close(type="button", data-dismiss="modal") x
  h3 Gjester som kommer
#gjesteliste-modal.modal-body
  each gjest, i in gjesteliste 
    h5.gjest #{gjest}
.modal-footer
  a.btn(href="#", data-dismiss="modal") Lukk