.modal-header
  button.close(type="button", data-dismiss="modal") x
  h3 Gjester som kommer
.modal-body
  each gjest, i in gjesteliste 
    p.gjest #{gjest}
.modal-footer
  a.btn(href="#", data-dismiss="modal") Lukk